body{
    background: #f5f5fa;
    color: #1f1f29 
}

.container {
    width: 85%;
    margin: auto; 
    background-color: white; 
    border: 1px solid black;
}

.c {
    width: 85%;
    margin: auto; 
    color: whitesmoke;
    background-color: darkslategrey; 
    border: 5px solid greenyellow;
}